html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative;
}
/* ここから */
header {
  height: 50px;
  background-color: #2B2B2B;
}
/* header ul { */
/* } */
header ul a {
  color: #fff;
  text-decoration: none;
}
header li {
  list-style: none;
}
header ul:after {
}
.left{
  float: left;
}
.right{
  float: left;
}
.left_menu{
  float: left;
}
.right_menu{
  float: right;
}
/* .left_menu a{
} */
.right_menu a{
  padding-right: 20px;
}
.contact {
  padding-left: 20px;
}
/* ここまでがheader部分の実装 */
.main-header img {
  position: absolute;
  width: 13%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
/* main画像（白い「Achieve」の文字の画像）部分の実装 * /
/*  */
.about{
  padding: 15px;
}
.about h1{
  font-size: 1.5rem;
  padding-top: 30px;
/* About Achieve部分の実装 */
}
.about p{
  font-size: 0.8rem;
}
/* ここから */
.function {
  background-color: #D3D3D3;
  min-height: 100%
}
.function-image{
  float: left;
  padding: 35px;
}
.function-images{
  width: 1500px;
  height: 500px;
  margin: 0 auto;
  width: 800px;
}
.function h1{
  padding-top: 80px;
}
/* ここまでがfunction部分の実装 */
.wrapper{
  padding-bottom: 70px;
}
footer p{
  color: #fff;
  font-size: 0.8rem;
}
footer{
  background-color: #283A4B;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
/* footer部分の実装 */
}
